---
subject: "Please Confirm Your Email Address"
user_display: "{{ user_display }}"
activate_url: "{{ activate_url }}"
---

<spacer size="16"></spacer>

<container class="header">
  <row class="collapse">
    <columns>
      <img src="{% get_domain %}{% static 'images/logo.png' %}" alt="" width="150" height="37">
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="body-drip">

  <spacer size="16"></spacer>
  
  <row>
    <columns>
      <h4>Add Email to GlitchTip Account</h4>

      <spacer size="16"></spacer>

      <button href="{{ activate_url }}" class="primary">
        Confirm Email Address
      </button>

      <spacer size="16"></spacer>

      <p>
        This email address will be connected to {{ user_display }}'s account when you click "Confirm".
      </p>

      <p>
        If you received this email in error, delete it. Your email address won't be added if you don't click the confirmation link.
      </p>

    </columns>
  </row>

</container>

