---
layout: index-layout
subject: My Email Templates
---

<spacer size="16"></spacer>

<container>

  <spacer size="24"></spacer>
  
  <row>
    <columns small="12">

    <p class="lead">GlitchTip Templates</p>

    <spacer size="16"></spacer>

    <menu class="vertical">
      <item href="{{root}}issue-drip.html" target="_blank">Issue Drip</item>
      <item href="{{root}}uptime-drip.html" target="_blank">Uptime Drip</item>
      <item href="{{root}}multiple-issues-drip.html" target="_blank">Multiple Issues Drip</item>
      <item href="{{root}}near-quota-drip.html" target="_blank">Near Quota Drip</item>
      <item href="{{root}}met-quota-drip.html" target="_blank">Met Quota Drip</item>
      <item href="{{root}}invite-user-drip.html" target="_blank">Invite User to GlitchTip</item>
      <item href="{{root}}confirm-email-drip.html" target="_blank">
        Confirm Email Address (adding email to account)
      </item>
      <item href="{{root}}confirm-email-signup-drip.html" target="_blank">
        Confirm Email Signup (New account)
      </item>
      <item href="{{root}}reset-password-drip.html" target="_blank">
        Reset Password Drip
      </item>
    </menu>

    <spacer size="16"></spacer>

    </columns>
  </row>
</container>

<spacer size="16"></spacer>
