---
subject: "Join {{ organization|safe }} on GlitchTip"
organization: "{{ organization|safe }}"
join_link: "{{ join_link }}"
glitchtip_homepage_link: "{{ glitchtip_homepage_link }}"
domain: "{{ domain.domain }}"
---

<spacer size="16"></spacer>

<container class="header">
  <row class="collapse">
    <columns>
      <img src="{% get_domain %}{% static 'images/logo.png' %}" alt="" width="150" height="37">
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="body-drip">

  <spacer size="16"></spacer>
  
  <row>
    <columns>
      <h4>You are invited to GlitchTip</h4>

      <p>
        {{ organization }} is using GlitchTip for software error reporting
        and wants you to be a part of the team.
      </p>

      <spacer size="16"></spacer>

      <button href="{% get_domain %}{% url 'invitations_register' user.pk token %}" class="primary">Join the team</button>

      <spacer size="16"></spacer>

      <p>
        <a href="{% get_domain %}">Visit GlitchTip's homepage</a> if you want to learn more first.
      </p>
    </columns>
  </row>

</container>

