---
subject: "{issue_count} errors reported in {first_issue.project}"
project_name: "{{ project_name }}"
project_link: "{{ project_link }}"
project_notification_settings_link: "{{ project_notification_settings_link }}"
org_slug: "{{ org_slug }}"
---

<spacer size="16"></spacer>

<container class="header">
  <row class="collapse">
    <columns>
      <img src="{% get_domain %}{% static 'images/logo.png' %}" alt="" width="150" height="37">
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="body-drip">

  <spacer size="16"></spacer>
  
  <row>
    <columns>
      <h4>Multiple errors reported</h4>
      <p>Project: {{ project_name }}</p>
    </columns>
  </row>
  {% for issue in issues %}
  <row>
    <columns>
      <a
        class="issue-title-link"
        href="{% get_domain %}/organizations/{{ org_slug }}/issues/{{{{raw}}}}{{ issue.id }}{{{{/raw}}}}"
      >
        {{{{raw}}}}{{ issue.title }}{{{{/raw}}}}
      </a>
    </columns>
  </row>
  {% endfor %}
  <row>
    <columns>
      <spacer size="16"></spacer>
      <button href="{{ project_link }}" class="primary">
        View all issues for {{ project_name }}
      </button>
    </columns>
  </row>

  <row class="collapsed footer">
    <columns>
      <spacer size="16"></spacer>
      <p class="text-center">
        <a href="{{ project_notification_settings_link }}">
          Manage Email Notifications
        </a>
      </p>
    </columns>
  </row>

  <spacer size="32"></spacer>

</container>
