---
subject: "Nearing event quota for {{ organization }}"
organization: "{{ organization }}"
event_count: "{{ event_count }}"
plan_event_count: "{{ plan_event_count }}"
subscription_link: "{{ subscription_link }}"
---

<spacer size="16"></spacer>

<container class="header">
  <row class="collapse">
    <columns>
      <img
        src="{% get_domain %}{% static 'images/logo.png' %}"
        alt=""
        width="150"
        height="37"
      />
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="body-drip">
  <spacer size="16"></spacer>

  <row>
    <columns>
      <h4>You are near your event quota</h4>
      <p>Organization: {{ organization }}</p>
      <p>
        Your plan allows for {{ plan_event_count }} events per month, and your
        projects have used {{ event_count }}.
      </p>
      <p>
        If you reach the limit, you will not receive events in GlitchTip until
        the monthly cycle resets. You can avoid this by upgrading your plan or
        by adjusting the sample rate in your SDK.
      </p>
      <spacer size="16"></spacer>
      <button href="{{ subscription_link }}" class="primary">
        Manage Subscription
      </button>
    </columns>
  </row>
</container>
