---
subject: "{{ monitor_name }} {{ status_msg }}"
# project_notification_settings_link: "https://bing.com"
# monitor_name: "New Web App"
# status_msg: "is down"
# reason: timeout
# monitor_link: "https://example.com"
# project_notification_settings_link: "https://example.com"
monitor_name: "{{ monitor_name }}"
status_msg: "{{ status_msg }}"
monitor_url: "{{ monitor_url }}"
start_check: "{{ start_check }}"
reason: "{{ reason }}"
monitor_link: "{{ monitor_link }}"
project_notification_settings_link: "{{ project_notification_settings_link }}"
time_since_last_change: "{{ time_since_last_change }}"
---

<!--{% load static %}-->

<spacer size="16"></spacer>

<container class="header">
  <row class="collapse">
    <columns>
      <img src="{% get_domain %}{% static 'images/logo.png' %}" alt="" width="150" height="37">
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="body-drip">

  <spacer size="16"></spacer>
  
  <row>
    <columns>
      <h4>{{ monitor_name }} {{ status_msg }}</h4>
      {% if monitor_url %}
        <p>URL: <a href="{{ monitor_url }}">{{ monitor_url }}</a></p>
      {% endif %}
      {% if reason %}
        <p>Reason: {{ reason }}</p>
      {% endif %}
      <p>When: {{ start_check }}</p>
      {% if time_since_last_change %}
      <p>{{time_since_last_change}}</p>
      {% endif %}
      <spacer size="16"></spacer>
      <button href="{{ monitor_link }}" class="primary">View on GlitchTip</button>
    </columns>
  </row>

  <row class="collapsed footer">
    <columns>
      <spacer size="16"></spacer>
      <p class="text-center"><a href="{{ project_notification_settings_link }}">Manage Email Notifications</a></p>
    </columns>
  </row>

</container>
